    @{
        ViewData["Title"] = "Home Page";
        Layout = null;
    }

    <!DOCTYPE html>
    <html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="~/css/style.css">
        <title>Tela Inicial</title>
    </head>
    <body>

        <div class="containerTelaInicial">
            <img src="~/imgs/logo.png" alt="Imagem Logo" class="imgLogo">
            <p>O MELHOR<br>LANCHE DE<br>SOROCABA.</p>
            <img src="~/imgs/imgLanche.png" alt="Imagem Lanche" class="imgLanche">
            <a href="@Url.Action("menu")"><button class="botao" >Toque para iniciar</button></a>
        </div>
        
    </body>
    </html>