@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/stylePagina2.css">
    <title>Pedidos</title>
</head>
<body>

    <div class="containerPedidos">
        <img src="~/imgs/imgHeader.jpeg" alt="Header" class="imgHeader">

        <div class="conteudoInterno">
            <div class="colunaEsquerda">
                <div class="quadradoCategoria">
                    <img src="~/imgs/imgLancheCategoria.png" alt="" class="imgLancheCategoria">
                    <p class="textoCategoria">Lanches</p>
                </div>
                <div class="quadradoCategoria">
                    <img src="~/imgs/imgCombosCategoria.png" alt="" class="imgCombosCategoria">
                    <p class="textoCategoria">Combos</p>
                </div>
                <div class="quadradoCategoria">
                    <img src="~/imgs/imgSobremesasCategorias.png" alt="" class="imgSobremesasCategoria">
                    <p class="textoCategoria">Sobremesas</p>
                </div>
                <div class="quadradoCategoria">
                    <img src="~/imgs/imgBebidasCategoria.png" alt="" class="imgBebidasCategoria">
                    <p class="textoCategoria">Bebidas</p>
                </div>
                <div class="quadradoCategoria">
                    <img src="~/imgs/imgExtraCategoria.png" alt="" class="imgExtraCategoria">
                    <p class="textoCategoria">Extras</p>
                </div>
                <div class="quadradoCategoria">
                    <img src="~/imgs/imgMolhosCategoria.png" alt="" class="imgMolhosCategoria">
                    <p class="textoCategoria">Molhos</p>
                </div>
            </div>

            <div class="conteudoPrincipal">
                <div class="quadradoLanches">
                    <div class="quadradoLanche1"></div>
                    <div class="quadradoLanche2"></div>
                    <div class="quadradoLanche3"></div>
                    <div class="quadradoLanche4"></div>
                    <div class="quadradoLanche5"></div>
                    <div class="quadradoLanche6"></div>
                    <div class="quadradoLanche7"></div>
                    <div class="quadradoLanche8"></div>
                    <div class="quadradoLanche9"></div>
                </div>
            </div>
        </div>

        <div class="divResumoPedido"></div>
    </div>

</body>
</html>
