@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/stylePagina2.css">
    <title>Pedidos</title>
</head>
<body>

    <div class="containerPedidos">
        <img src="~/imgs/imgHeader.jpeg" alt="" class="imgHeader">
        <div class="colunaEsquerda">
            <div class="quadrados"></div>
                <div class="quadrado1">
                    <img src="~/imgs/imgLancheCategoria.png" alt="" class="imgLancheCategoria">
                    <p class="textoLanchesCategoria">Lanches</p>
                </div>
                <div class="quadrado2">
                    <img src="~/imgs/imgCombosCategoria.png" alt="" class="imgCombosCategoria">
                    <p class="textoCombosCategoria">Combos</p>
                </div>
                <div class="quadrado3">
                    <img src="~/imgs/imgSobremesasCategorias.png" alt="" class="imgSobremesasCategoria">
                    <p class="textoSobremesasCategoria">Sobremesas</p>
                </div>
                <div class="quadrado4">
                    <img src="~/imgs/imgBebidasCategoria.png" alt="" class="imgBebidasCategoria">
                    <p class="textoBebidasCategoria">Bebidas</p>
                </div>
                <div class="quadrado5">
                    <img src="~/imgs/imgExtraCategoria.png" alt="" class="imgExtraCategoria">
                    <p class="textoExtrasCategoria">Extras</p>
                </div>
                <div class="quadrado6">
                    <img src="~/imgs/imgMolhosCategoria.png" alt="" class="imgMolhosCategoria">
                    <p class="textoMolhosCategoria">Molhos</p>
                </div>
        </div>
        <div class="divResumoPedido">

        </div>
    </div>
    
</body>
</html>
