@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/stylePagina2.css">
    <title>Pedidos</title>
</head>
<body>

    <div class="containerPedidos">
        <img src="~/imgs/imgHeader.jpeg" alt="Header" class="imgHeader">

        <div class="conteudoInterno">
            <div class="colunaEsquerda">
                <div class="quadradoCategoria">
                    <img src="~/imgs/imgLancheCategoria.png" alt="" class="imgLancheCategoria">
                    <p class="textoCategoria">Lanches</p>
                </div>
                <div class="quadradoCategoria">
                    <img src="~/imgs/imgCombosCategoria.png" alt="" class="imgCombosCategoria">
                    <p class="textoCategoria">Combos</p>
                </div>
                <div class="quadradoCategoria">
                    <img src="~/imgs/imgSobremesasCategorias.png" alt="" class="imgSobremesasCategoria">
                    <p class="textoCategoria">Sobremesas</p>
                </div>
                <div class="quadradoCategoria">
                    <img src="~/imgs/imgBebidasCategoria.png" alt="" class="imgBebidasCategoria">
                    <p class="textoCategoria">Bebidas</p>
                </div>
                <div class="quadradoCategoria">
                    <img src="~/imgs/imgExtraCategoria.png" alt="" class="imgExtraCategoria">
                    <p class="textoCategoria">Extras</p>
                </div>
                <div class="quadradoCategoria">
                    <img src="~/imgs/imgMolhosCategoria.png" alt="" class="imgMolhosCategoria">
                    <p class="textoCategoria">Molhos</p>
                </div>
            </div>

            <div class="conteudoPrincipal">
                <div class="quadradoLanches">
                    <div class="quadradoLanche1">
                        <img src="~/imgs/lanche1.png" alt="" class="lanchesFotos">
                        <p class="textoLanche1">Burguer 404</p>
                        <p class="preçoLanche1">R$24,90</p>
                        <p class="descLanche1">Pão brioche, queijo cheddar derretido, hambúrguer de costela 180g...</p>
                    </div>
                    <div class="quadradoLanche2">
                        <img src="~/imgs/lanche2.png" alt="" class="lanchesFotos">
                        <p class="textoLanche1">Full Stack Burguer</p>
                        <p class="preçoLanche1">R$29,90</p>
                        <p class="descLanche1">Pão australiano, dois hambúrgueres artesanais 150g, molho especial ADS...</p>
                    </div>
                    <div class="quadradoLanche3">
                        <img src="~/imgs/lanche3.png" alt="" class="lanchesFotos">
                        <p class="textoLanche1">Looping Duplo</p>
                        <p class="preçoLanche1">R$32,90</p>
                        <p class="descLanche1">Pão brioche, dois hambúrgueres artesanais 150g, queijo cheddar, queijo prato...</p>
                    </div>
                    <div class="quadradoLanche4">
                        <img src="~/imgs/lanche4.png" alt="" class="lanchesFotos">
                        <p class="textoLanche1">Hello World Veggie</p>
                        <p class="preçoLanche1">R$21,90</p>
                        <p class="descLanche1">Pão de batata, hambúrguer de grão-de-bico e cogumelos, queijo vegano...</p>
                    </div>
                    <div class="quadradoLanche5">
                        <img src="~/imgs/lanche5.png" alt="" class="lanchesFotos">
                        <p class="textoLanche1">Backend Brisket</p>
                        <p class="preçoLanche1">R$34,90</p>
                        <p class="descLanche1">Pão de malte, brisket defumado 12h, queijo prato, cebola roxa marinada...</p>
                    </div>
                    <div class="quadradoLanche6">
                        <img src="~/imgs/lanche6.png" alt="" class="lancheFrontEnd">
                        <p class="textoLanche1">Frontend BBQ</p>
                        <p class="preçoLanche1">R$23,90</p>
                        <p class="descLancheFrontEnd">Pão australiano, hambúrguer de fraldinha 150g, queijo gorgonzola...</p>
                    </div>
                    <div class="quadradoLanche7">
                        <img src="~/imgs/lanche7.png" alt="" class="lanchesFotos">
                        <p class="textoLanche1">DevOps Bacon</p>
                        <p class="preçoLanche1">R$26,90</p>
                        <p class="descLanche1">Pão brioche tostado, hambúrguer de costela 180g, queijo prato, cebola roxa...</p>
                    </div>
                    <div class="quadradoLanche8">
                        <img src="~/imgs/lanche8.png" alt="" class="lanchesFotos">
                        <p class="textoLanche1">Byte Burger</p>
                        <p class="preçoLanche1">R$19,90</p>
                        <p class="descLanche1">Pão de batata, hambúrguer smash de fraldinha 120g, queijo cheddar...</p>
                    </div>
                    <div class="quadradoLanche9">
                        <img src="~/imgs/lanche9.png" alt="" class="lanchesFotos">
                        <p class="textoLanche1">Refatorado Melt</p>
                        <p class="preçoLanche1">R$22,90</p>
                        <p class="descLanche1">Pão brioche, hambúrguer de picanha 150g, queijo mussarela derretido...</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="divResumoPedido"></div>
    </div>

</body>
</html>
